
  ul.nav-pills {
      padding-top: 20px;
	  top: 20px;
  }
  .item {
      padding-top: 70px;
  }
  
  #content{
	  padding-bottom:400px;
	  background-color:#d9dde2;
  }
  #header{
	  background-color:#2196F3;
	  color:#fff;
	  height:100px;"
  }
  
  #pictures{
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	flex-wrap: wrap;

  }
  
  .pic_bar{
	width: 175px;
	margin: auto;    
	display: block;
  }
  


