
  ul.nav-pills {
      padding-top: 20px;
	  top: 20px;
  }
  .item {
      padding-top: 70px;
  }
  
  #content{
	  margin-bottom:800px;
  }
  #header{
	  background-color:#2196F3;
	  color:#fff;
	  height:100px;"
  }
  


